extends ../layout
include ../atomic/molecules

block content
  - var classNames, mine;
  content.plans
    div.dayChooser
      a.prev(title='Previous day', href='/plan/'+prevDate) ←
      input(type='date', value=date)
      a.prev(title='Next day', href='/plan/'+nextDate) →
      div.relative
        small
          span.i18n
            if date == yesterday
                | yesterday
            else if date == today
                | today
            else if date == tomorrow
                | tomorrow
      div.today-link
        if date != today
          a.i18n(href='/plan/' + today) go to today

    for plan in plans
      // if previous was mine
      if mine
        h2.i18n Others' plans
      - classNames = [];
      - mine = plan.user._id == user._id;
      - if (mine) classNames.push('me');
      - if (plan.draft) classNames.push('draft');
      form.plan(class = classNames, id=plan._id)
        h3
          +User(plan.user)
          label.draft-switch
            input(type='checkbox',name='draft',checked=plan.draft,disabled=!mine)
            span.i18n draft
        for title, name in {prev: 'Previously', next: 'Nextly', obst: 'Obstacles'}
          fieldset
            legend.i18n
              = title
            if mine
              textarea(data-name=name).planEntries.autoexpandable
                = plan[name].join('\n')
            else
              div(data-name=name).planEntries
                = plan[name].join('\n')
